
@{
    ViewBag.Title = "Add";
}

@model GestEcole.Web.ViewModels.Student.AddStudentViewModel

<h2 class="page-header">Ajout d'un nouvel étudiant</h2>

@using (Html.BeginForm("Create", "Student", FormMethod.Get))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Student.StudentName)
        @Html.TextBoxFor(m => m.Student.StudentName, new { @class="form-control" })
        @Html.ValidationMessageFor(m => m.Student.StudentName)
    </div>
    <br />
    @Html.LabelFor(m => m.Student.StudentFirstName)
    @Html.TextBoxFor(m => m.Student.StudentFirstName)
    @Html.ValidationMessageFor(m => m.Student.StudentFirstName)
    <br />
    @Html.Label("studentBirthDate", "Date de naissance de l'étudiant")
    @Html.TextBoxFor(m => m.Student.StudentBirthDate)
    <br />
    @Html.DropDownListFor(m => m.Student.SchoolId, Model.Schools.Select(sc => new SelectListItem() { Value = sc.Id.ToString(), Text = sc.Name }))
    <button type="submit">Valider</button>
}

@*<form id="formAddStudent" method="post" action="/Student/Create">

    <label for="studentName">Nom de l'étudiant :</label>
    <input type="text" name="studentName" />

    <label for="studentFirstName">Prénom de l'étudiant :</label>
    <input type="text" name="studentFirstName" />

    <label for="studentBirthDate">Date de naissance de l'étudiant :</label>
    <input type="date" name="studentBirthDate" />

    <button type="submit">Valider</button>
</form>*@


